body {
  font-family: sans-serif;
}

div,
html {
  display: block;
}

#threeView * {
  outline-width: 0;
  background-color: rgba(38, 50, 104, 0.32);
}

#threeView *:focus {
  outline-width: 0;
}

#threeView *::before {
  content: attr(view-name);
  color: rgb(255, 104, 84);
}

#threeView *.is-closed::before {
  cursor: pointer;
}

#threeView [tabindex] {
  cursor: pointer;
}

#threeView [tabindex]:hover::before,
#threeView [tabindex]:hover::after {
  font-weight: bold;
}

#threeView [tabindex]:focus::before,
#threeView [tabindex]:focus::after {
  font-weight: bold;
}

#threeView .is-closed::after {
  content: "...</div>";
  color: rgb(255, 104, 84);
}

#threeView .is-closed > * {
  display: none;
}

#threeView * > * {
  margin-left: 20px;
}

#threeView *.highlight::before,
#threeView *.highlight::after {
  color: goldenrod;
}
