body {
  font-family: sans-serif;
}

div,
html {
  display: block;
}

#threeView *:focus {
  outline-width: 0;
}

#threeView *::before {
  content: attr(view-name);
}

#threeView *.is-closed::before {
  cursor: pointer;
}

#threeView [tabindex] {
  cursor: pointer;
}

#threeView [tabindex]:hover::before,
#threeView [tabindex]:hover::after {
  font-weight: bold;
}

#threeView .is-closed::after {
  content: "...</div>";
}

#threeView .is-closed > * {
  display: none;
}

#threeView * > * {
  margin-left: 20px;
}

#threeView *.highlight::before,
#threeView *.highlight::after {
  color: palevioletred;
}
